

/* NAv Start  */
#nav
{
    align-items: fixed;
    
}
#logo
{
 margin-left: 2px;
 margin-top: 7px;
 height: 20px;
}

#logo-2
{
    height: 55px;
    margin-top:-30px ;
}


.navbar-nav
{
    margin-left: 550px;
    font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
   display: flex; 
}
#list
{
    list-style: none;
}

/* NAv ENd */
#home
  {
    
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: rgba(0,0,0,0,5),rgba(0,0,0,0,5);
    padding-top: 250px;
    
  }

#home-p
{
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
text-align: center;

}
#home-p2
{
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
text-align: center;
margin-bottom: 400px;
}


  #home
  {
    background-image: url(./bg-4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: rgba(0,0,0,0,5),rgba(0,0,0,0,5);
    padding-top: 250px;
    
  }
  




/* Gallery Start */

#gallery
{
    font-family: 'Times New Roman', Times, serif;
     background-color: black; 
     width: 100%;
     padding: 5px;
}
#btn-gallery
{
    margin-top: 20px;
}
#gallery-p
{
    font-weight:bold;
    margin-top:10px;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif
}
#gallery-photo
{
    border: 1px solid black;
    margin-top: 15px;
}
#price-car
{
    margin-top: 15px;
}
#btn-border
{
    height: 450px;
    border: 1.5px solid black;
    padding: 10px;
    margin-top: 15px;
    
    
}
#gallery-hr
{
    color: black;
    font-weight: 2px solid black;
}

/* Gallery END */


/* Carousel start */

#carousel-photo
{
    padding: 20px;
    background-color: black;
    
}

#carousel-photo2
{
    
    border: 9px solid white;
    width: 100%;
    height: 300px;
}

/* Carousel End */


/* Counter Up start */
#counterup
{
    background-color: white;
    padding: 15px;
}

#counter-color {
	display: block;
	background: white;
	padding: 20px;
	text-align: center;
    border: 10px solid black;
    border-radius: 7px;
}

#counter-p {
margin-top: 8px;	
	padding: 0;
	color: black;
	font-size: 20px;
	font-weight: 10px bold;
    font-family: 'Times New Roman', Times, serif;
}
#span-counter
{
 margin-top: 10px;
 font-size: 40px;
 font-weight: 700;
 color:black;
 display: block;
 line-height: 28px;
}

#counter-i {
	font-size: 45px;
	color: black;
}

/* Counter Up End */

/* About us Start */

#about
{
    font-family: 'Times New Roman', Times, serif;
     margin-top: 10px;
     background-color: black; 
     width: 100%;
     padding: 5px;
}

#h1-about
{
    color: white ;
}

#carrio-motor
{
    height:80px
}

#about-p
{
    font-family:sans-serif;
    margin-top: 15px;
}

#carrio-about
{
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    border: 4px solid black;
}
/* About us End */

/* Contact US Start */

#contact
{
    font-family: 'Times New Roman', Times, serif;
     background-color: black; 
     width: 100%;
     padding: 5px;
}

#contact-p
{
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 15px;
}

#h1-contact
{
    font-family: 'Times New Roman', Times, serif;
}


#span-contact
{
    color: rgb(158, 30, 30);
}

#map-contact
{
    border: 2px solid black;
}

/* Contact US End */




/* footer start */

#footer
{
    background-color: black;
    padding: 20px;
}
#footer-p
{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    
}

#footer-h3
{
    color: black;
    font-size: 25px;
    margin-top: 20px;
}
#span-footer
{
    color: red;
}
#footer-p2
{
 font-size: 15px;
    color: black;
    margin-top: 15px;
    
}

#footer-last
{
    margin-top: 20px;
    margin-bottom: 10px;
}

#icons
{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}
#icons1
{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}
#icons2
{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}
#icons3
{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}
#icons4 
{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}


/* footer end */



#icons:hover{
    color: rgb(59, 89, 152);
}
#icons1:hover{
    color: rgb(192, 63, 218);
}
#icons2:hover{
    color: rgb(58, 185, 69);
}
#icons3:hover{
    color: rgb(255, 0, 0);
}
#icons4:hover{
    color: rgb(0,172,238);
}

.nav-item :hover
{
    color: rgb(255, 217, 0);
}

@media( max-width:760)
{
  #all{
    padding: auto;
  } 

  #htss
  {
    
  }
 #s2{
     margin-top: 30px;
 }

  
}
@media ( max-width:760)
{
    #owl-crasol
  {
    padding: auto;
  }
}